body {
    font-family: sans-serif;
    width: 1000px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
}
ul {
    list-style-type: none;
}
.kopjes{
    font-size: 23px;
}
.recentie{
    font-family: serif;
    line-height: 10px;
}